*.pyc
__pycache__/
.idea/
*.onnx
*.pt
*.csv
*.wav
*.mp4
*.mp3
*.exe
*.json
*.yaml

Post_AI/bin/
Post_AI/output/
Post_AI/pypost/bin/

Post_AI/checkpoint-7566/
Post_AI/[videoMAE]_video_classification.ipynb
Post_AI/requirements_order.txt
Post_AI/voice_requirements.txt
Post_AI/all_requirements.txt

Post_AI/pypost/models/
Post_AI/pypost/templates/
Post_AI/pypost/pose_estimation/

Post_AI/pypost/trans_voice/bin
Post_AI/pypost/trans_voice/datasets
Post_AI/pypost/trans_voice/logs
Post_AI/pypost/trans_voice/pretrained_v2
Post_AI/pypost/trans_voice/spring
Post_AI/pypost/trans_voice/TEMP
Post_AI/pypost/trans_voice/uvr5_weights
Post_AI/pypost/trans_voice/vocal_results
Post_AI/pypost/trans_voice/weights

Post_AI/pypost/views/voice_views2.py