*.pyc
__pycache__/
.idea/
*.onnx
*.pt
*.csv
*.wav
*.mp4
*.mp3
*.exe

Post_AI/bin/
Post_AI/output/

Post_AI/make_3dpose_csv.py
Post_AI/make_pose_csv.py
Post_AI/pose5.py
Post_AI/pose6.py
Post_AI/pose7.py
Post_AI/save_poses.py
Post_AI/make_gif.py

Post_AI/requirements_order.txt
Post_AI/voice_requirements.txt

Post_AI/pypost/models/
Post_AI/pypost/templates/

Post_AI/pypost/trans_voice/bin
Post_AI/pypost/trans_voice/datasets
Post_AI/pypost/trans_voice/logs
Post_AI/pypost/trans_voice/pretrained_v2
Post_AI/pypost/trans_voice/spring
Post_AI/pypost/trans_voice/TEMP
Post_AI/pypost/trans_voice/uvr5_weights
Post_AI/pypost/trans_voice/vocal_results
Post_AI/pypost/trans_voice/weights